USE [master]
GO
/****** Object:  Database [BOOKSTORE]    Script Date: 6/17/2020 11:38:12 PM ******/
CREATE DATABASE [BOOKSTORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOKSTORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.YUZUKI\MSSQL\DATA\BOOKSTORE.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BOOKSTORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.YUZUKI\MSSQL\DATA\BOOKSTORE_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOKSTORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOKSTORE]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOK_AUTHOR]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_AUTHOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK_ID] [int] NULL,
	[AUTHOR_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOK_GENRE]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_GENRE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK_ID] [int] NULL,
	[GENRE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOK_IMAGE]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_IMAGE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE1] [nvarchar](255) NULL,
	[IMAGE2] [nvarchar](255) NULL,
	[IMAGE3] [nvarchar](255) NULL,
	[IMAGE4] [nvarchar](255) NULL,
	[BOOK_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[EXCERPT] [nvarchar](max) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[PUBLISH_DATE] [date] NULL,
	[PRICE] [int] NULL,
	[BOOK_URL] [nvarchar](255) NULL,
	[PREVIEW] [nvarchar](255) NULL,
	[PUBLISHER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[STATUS] [int] NULL,
	[CREATED] [date] NULL,
	[EMAIL] [nvarchar](255) NULL,
	[NAME] [nvarchar](255) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[POST_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
	[USERNAME] [nvarchar](255) NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[AVATAR] [nvarchar](255) NULL,
	[GENDER] [bit] NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[ROLE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ADDRESS] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PHONE] [nvarchar](255) NULL,
	[TOTALAMOUNT] [int] NULL,
	[CREATED_DATE] [date] NULL,
	[STATUS] [bit] NULL,
	[PAYMENTMETHOD] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ORDERDETAIL]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AMOUNT] [int] NULL,
	[PRICE] [int] NULL,
	[QUANTITY] [int] NULL,
	[NOTE] [nvarchar](255) NULL,
	[ORDER_ID] [int] NULL,
	[BOOK_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POST]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nvarchar](255) NULL,
	[EXCERPT] [nvarchar](max) NULL,
	[CONTENT] [nvarchar](max) NULL,
	[STATUS] [int] NULL,
	[CREATED] [date] NULL,
	[POSTURL] [nvarchar](255) NULL,
	[CUSTOMER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PUBLISHER]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUBLISHER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WHISHLIST]    Script Date: 6/17/2020 11:38:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WHISHLIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BOOK_ID] [int] NULL,
	[CUSTOMER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BOOK_GENRE] ON 

INSERT [dbo].[BOOK_GENRE] ([ID], [BOOK_ID], [GENRE_ID]) VALUES (1, 1, 1)
INSERT [dbo].[BOOK_GENRE] ([ID], [BOOK_ID], [GENRE_ID]) VALUES (2, 1, 4)
INSERT [dbo].[BOOK_GENRE] ([ID], [BOOK_ID], [GENRE_ID]) VALUES (3, 1, 2)
SET IDENTITY_INSERT [dbo].[BOOK_GENRE] OFF
SET IDENTITY_INSERT [dbo].[BOOK_IMAGE] ON 

INSERT [dbo].[BOOK_IMAGE] ([ID], [IMAGE1], [IMAGE2], [IMAGE3], [IMAGE4], [BOOK_ID]) VALUES (1, N'84.jpg', N'83.jpg', N'42.jpg', N'41.jpg', 1)
INSERT [dbo].[BOOK_IMAGE] ([ID], [IMAGE1], [IMAGE2], [IMAGE3], [IMAGE4], [BOOK_ID]) VALUES (2, N'82.jpg', N'81.jpg', N'40.jpg', N'39.jpg', 2)
INSERT [dbo].[BOOK_IMAGE] ([ID], [IMAGE1], [IMAGE2], [IMAGE3], [IMAGE4], [BOOK_ID]) VALUES (3, N'80.jpg', N'79.jpg', N'38.jpg', N'37.jpg', 3)
SET IDENTITY_INSERT [dbo].[BOOK_IMAGE] OFF
SET IDENTITY_INSERT [dbo].[BOOKS] ON 

SET IDENTITY_INSERT [dbo].[BOOKS] OFF
SET IDENTITY_INSERT [dbo].[GENRE] ON 

INSERT [dbo].[GENRE] ([ID], [NAME]) VALUES (1, N'Biographic')
INSERT [dbo].[GENRE] ([ID], [NAME]) VALUES (2, N'Adventure')
INSERT [dbo].[GENRE] ([ID], [NAME]) VALUES (3, N'Children')
SET IDENTITY_INSERT [dbo].[GENRE] OFF
SET IDENTITY_INSERT [dbo].[PUBLISHER] ON 

INSERT [dbo].[PUBLISHER] ([ID], [NAME]) VALUES (1, N'NXB Trẻ')
INSERT [dbo].[PUBLISHER] ([ID], [NAME]) VALUES (2, N'NXB Kim Đồng')
SET IDENTITY_INSERT [dbo].[PUBLISHER] OFF
ALTER TABLE [dbo].[CUSTOMERS] ADD  DEFAULT ((0)) FOR [ROLE]
GO
ALTER TABLE [dbo].[BOOK_AUTHOR]  WITH CHECK ADD FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[AUTHOR] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK_AUTHOR]  WITH CHECK ADD FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOKS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK_GENRE]  WITH CHECK ADD FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOKS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK_GENRE]  WITH CHECK ADD FOREIGN KEY([GENRE_ID])
REFERENCES [dbo].[GENRE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK_IMAGE]  WITH CHECK ADD FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOKS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOKS]  WITH CHECK ADD FOREIGN KEY([PUBLISHER_ID])
REFERENCES [dbo].[PUBLISHER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD FOREIGN KEY([POST_ID])
REFERENCES [dbo].[POST] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMERS] ([ID])
GO
ALTER TABLE [dbo].[ORDERDETAIL]  WITH CHECK ADD FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOKS] ([ID])
GO
ALTER TABLE [dbo].[ORDERDETAIL]  WITH CHECK ADD FOREIGN KEY([ORDER_ID])
REFERENCES [dbo].[ORDER] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[POST]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMERS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WHISHLIST]  WITH CHECK ADD FOREIGN KEY([BOOK_ID])
REFERENCES [dbo].[BOOKS] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WHISHLIST]  WITH CHECK ADD FOREIGN KEY([CUSTOMER_ID])
REFERENCES [dbo].[CUSTOMERS] ([ID])
ON DELETE CASCADE
GO
USE [master]
GO
